<%= stylesheet_link_tag "website.css" %>

<div class="dashboard_wrapper">
  <div class="dashboard">
    <div class="inputs">

      <div class="wind">
        <p id="title_renew"> Wind </p>
        <p id="energy"> 374 kW </p>
        <p id="percentage"> 24% </p>
      </div>

      <div class="solar">
        <p id="title_renew"> Solar </p>
        <p id="energy"> 15 kW </p>
        <p id="percentage"> 1% </p>
      </div>

      <div class="diesel">
        <p id="title_diesel"> Diesel </p>
        <p id="energy"> 1177 kW </p>
        <p id="percentage"> 75% </p>
      </div>

      <div class="battery">
        <p id="title_battery"> Battery </p>
        <p id="energy"> -132 kW </p>
        <p id="percentage"> 0% </p>
      </div>

    </div>
    <div class="output">
      <p id="title_output"> Output </p>
      <p id="energy"> 1434 kW </p>
    </div>

  </div>
</div>

<div class="container-bg">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="border-renew">
          <p id="title_renew"> Wind </p>
          <p id="energy"> 374 kW </p>
          <p id="percentage"> 24% </p>
        </div>
      </div>
      <div class="col text-center">
        <div class="border-renew">
          <p id="title_renew"> Solar </p>
          <p id="energy"> 15 kW </p>
          <p id="percentage"> 1% </p>
        </div>
      </div>
      <div class="col text-center">
        <div class="border-diesel">
          <p id="title_diesel"> Diesel </p>
          <p id="energy"> 1177 kW </p>
          <p id="percentage"> 75% </p>
        </div>
      </div>
      <div class="col text-center">
        <div class="border-battery">
          <p id="title_battery"> Battery </p>
          <p id="energy"> -132 kW </p>
          <p id="percentage"> 0% </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <div class="border-output">
          <p id="title_output"> Output </p>
          <p id="energy"> 1434 kW </p>
          <p id="percentage"> 100% </p>
        </div>
      </div>
    </div>
  </div>
</div>