<header>
  <%= stylesheet_link_tag "dashboard.css" %>
</header>

<div class="row">
  <div class="col">
    <div class="update-note">
      <p>Updated <%= time_ago_in_words(microgrid.updated_at) %> ago</p>
    </div>
  </div>
  <div class="col">
    <div class="right-justify">
      <a href="" class="graphs-link"> Utility Graphs </a>
    </div>
  </div>
</div>