<%= stylesheet_link_tag "website.css" %>

<header>
  <%= link_to image_tag("UAF_logo.png", height: 50), microgrid_index_path %>
</header>

<body>
  <ul>
    <li><%= link_to 'Home', microgrid_index_path %></li>
  </ul>

<div class="filler">
  This page is for future graph data implementations.
</div>
</body>