<%= stylesheet_link_tag "website.css" %>

<header>
  <%= link_to image_tag("logo.png", height: 80), microgrid_index_path %>
</header>

<body>
  <ul>
    <li><%= link_to 'Home', microgrid_index_path %></li>
  </ul>

  <div class="filler">
    <div class="col text-center">
      This page is for future graph data implementations.
    </div>
  </div>
</body>