<%= stylesheet_link_tag "website.css" %>

<header>
  <%= link_to image_tag("UAF_logo.png", height: 50), microgrid_index_path %>
</header>

<body>
<ul>
  <li><a class="active">Home</a></li>
</ul>

<div class="filler">
  <div class="col text-center">
    <p>This is a project to show information about a microgrid from a remote location in Alaska. <br> The
      dashboard is the real goal of the project and the rest of the website is just to show an example of what things
      might look like. <br> The project is licensed with the MIT license.</p>
  </div>
</div>

<div>
  <% @grids.each do |microgrid| %>
    <%= render "microgrid/microgrid", microgrid: microgrid %>
  <% end %>
</div>

<br>

</body>
<footer>
  <div class="footer-css">
    <div class="sub-footer">
      <p id=background>Authors: Blake Caldwell, Keegan Palmieri, Millard Arnold, and William Fisher</p>
    </div>
    <div class="sub-footer">
      <p id=background><a href="https://acep.uaf.edu/">Alaska Center For Energy and Power (ACEP)</a></p>
      <p id=background><a href="https://uaf.edu/uaf/">University of Alaska Fairbanks (UAF)</a></p>
    </div>
  </div>
</footer>
