<%= stylesheet_link_tag "website.css" %>

<header>
  <%= image_tag "UAF_logo.png", height: 50 %>
</header>

<body>
<ul>
  <li><a>Home</a></li>
  <li><a>Page 1</a></li>
  <li><a>Page 2</a></li>
  <li><a>Page 3</a></li>
</ul>

<div class="filler">
  <div class="col">
    <p>This is an example of a website layout and serves no actual purpose to the project besides filling empty space.
      The following message will be repeated several times to fill the space and will not contain any useful
      information. This is an example of a website layout and serves no actual purpose to the project besides filling
      empty space. The following message will be repeated several times to fill the space and will not contain any
      useful information. This is an example of a website layout and serves no actual purpose to the project besides
      filling empty space. The following message will be repeated several times to fill the space and will not contain
      any useful information.</p>
  </div>
  <div class="col">
    <p>This is an example of a website layout and serves no actual purpose to the project besides filling empty space.
      The following message will be repeated several times to fill the space and will not contain any useful
      information. This is an example of a website layout and serves no actual purpose to the project besides filling
      empty space. The following message will be repeated several times to fill the space and will not contain any
      useful information. This is an example of a website layout and serves no actual purpose to the project besides
      filling empty space. The following message will be repeated several times to fill the space and will not contain
      any useful information.</p>
  </div>
</div>

<div>
  <% @grids.each do |microgrid| %>
    <%= render "microgrid/microgrid", microgrid: microgrid %>
  <% end %>
</div>

<div class="filler2">
  <p>
    This is an example of a website layout and serves no actual purpose to the project besides filling empty space.
    The following message will be repeated several times to fill the space and will not contain any useful
    information. This is an example of a website layout and serves no actual purpose to the project besides filling
    empty space. The following message will be repeated several times to fill the space and will not contain any
    useful information. This is an example of a website layout and serves no actual purpose to the project besides
    filling empty space. The following message will be repeated several times to fill the space and will not contain
    any useful information.
  </p>
</div>

</body>
<footer>
  <div class="footer-css">
    <div class="sub-footer">
      <p id=background>Authors: Blake Caldwell, Keegan Palmieri, Millard Arnold, and William Fisher</p>
    </div>
    <div class="sub-footer">
      <p id=background><a href="https://acep.uaf.edu/">Alaska Center For Energy and Power (ACEP)</a></p>
      <p id=background><a href="https://uaf.edu/uaf/">University of Alaska Fairbanks (UAF)</a></p>
    </div>
    <div class="sub-footer">
      <p id=background>This is a project to show information about a microgrid from a remote location in Alaska. The
        dashboard is the real goal of the project and the rest of the website is just to show an example of what things
        might look like. The project is licenced with the MIT licence.</p>
    </div>
  </div>
</footer>
