.dashboard_wrapper {
    display: flex;
    justify-content: center;
}

.dashboard {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 34em;
    height: 28em;
    border: 6px solid #2e2e2e;
    border-radius: 2em;
    background-color: dimgray;
}

#title_renew {
    color: lightgreen;
    margin-top: 0px;
    background-color: black;
    border-radius: 1em;
}

#title_diesel {
    color: yellow;
    margin-top: 0px;
    background-color: black;
    border-radius: 1em;
}

#title_battery {
    color: darkorange;
    margin-top: 0px;
    background-color: black;
    border-radius: 1em;
}

#title_output {
    color: white;
    background-color: black;
    border-radius: 1em;
}

#energy {
    color: lightgray;
    font-size: 20px;
}

#percentage {
    color: yellow;
    font-size: 18px;
}

.inputs {
    text-align: left;
    display: flex;
    flex-direction: row;
}

.wind {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border: 6px solid lightgreen;
    border-radius: 25px;
    width: 90px;
}

.solar {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border: 6px solid lightgreen;
    border-radius: 25px;
    width: 90px;
}

.diesel {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border: 6px solid yellow;
    border-radius: 25px;
    width: 90px;
}

.battery {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border: 6px solid darkorange;
    border-radius: 25px;
    width: 90px;
}

.output {
    text-align: center;
    padding: 10px;
    margin-top: 100px;
    border: 6px solid white;
    border-radius: 25px;
    width: 220px;
}

.container-bg {
    border: 6px solid black;
    border-radius: 2em;
    background-color: dimgray;
    max-width: 700px;
    margin: auto;
}

.container {
    max-width: 700px;
    margin: auto;
}

.border-renew {
    border: 6px solid lightgreen;
    border-radius: 1em;
}

.border-diesel {
    border: 6px solid yellow;
    border-radius: 1em;
}

.border-battery {
    border: 6px solid darkorange;
    border-radius: 1em;
}

.border-output {
    border: 6px solid white;
    border-radius: 1em;
}