
#title-renew {
    color: lightgreen;
    margin-top: 0px;
    background-color: black;
    border-radius: 1em;
}

#title-diesel {
    color: yellow;
    margin-top: 0px;
    background-color: black;
    border-radius: 1em;
}

#title-battery {
    color: darkorange;
    margin-top: 0px;
    background-color: black;
    border-radius: 1em;
}

#title-output {
    color: white;
    background-color: black;
    border-radius: 1em;
}

#energy {
    color: lightgray;
    font-size: 20px;
}

#percentage {
    color: yellow;
    font-size: 18px;
}

#symbol-renew{
    filter: invert(89%) sepia(18%) saturate(1039%) hue-rotate(59deg) brightness(99%) contrast(88%)
}

#symbol-diesel{
    filter: invert(87%) sepia(76%) saturate(4270%) hue-rotate(356deg) brightness(102%) contrast(103%);
}

#symbol-battery{
    filter: invert(64%) sepia(50%) saturate(4124%) hue-rotate(359deg) brightness(101%) contrast(106%);
}

.percent{
    color: yellow
}

.inputs {
    text-align: left;
    display: flex;
    flex-direction: row;
}

.wind {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border: 6px solid lightgreen;
    border-radius: 25px;
    width: 90px;
}

.container-bg {
    border: 8px solid black;
    border-radius: 2em;
    background-color: dimgray;
    max-width: 700px;
    margin: auto;
    width: 95%;
}

.container {
    max-width: 700px;
    margin: auto;
}

.border-renew {
    border: 6px solid lightgreen;
    border-radius: 1em;
}

.border-diesel {
    border: 6px solid yellow;
    border-radius: 1em;
}

.border-battery {
    border: 6px solid darkorange;
    border-radius: 1em;
}

.border-output {
    border: 6px solid white;
    border-radius: 1em;
}

.col{
    padding: 0;
}