* {
    font-family: "Times New Roman", sans-serif;
}

a {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    font-size: 1.25em;
    background-color: #222;
}

li a:hover {
    background-color: #666666;
}

.filler{
    display: flex;
    font-size: 1.25em;
}

.col {
    flex: 50%;
    padding: 2em;
}

#boarder {
    color: black;
    border-radius: 1.5em;
    background-color: #00FF00;
    padding: 1em;
    width: 20em;
    height: 15em;
    border: 6px solid #2B690D;
    box-shadow: 4px 6px #222222;
}

.filler2{
    font-size: 1.25em;
    padding: 2em;
}

.footer-css {
    display: flex;
    background-color: #222;
}

.sub-footer {
    flex: 1;
    padding: 1em;
    text-align: center;
    background-color: #222;
    color: white;
}

#background {
    background-color: #222;
}

#background a {
    background-color: #222;
}

.dashboard_wrapper {
    display: flex;
    justify-content: center;
}

.dashboard {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 34em;
    height: 28em;
    border: 6px solid #2e2e2e;
    border-radius: 2em;
    background-color: dimgray;
}

#title_renew {
    color: lightgreen;
    margin-top: 0px;
    background-color: black;
    border-radius: 1em;
}

#title_diesel {
    color: yellow;
    margin-top: 0px;
    background-color: black;
    border-radius: 1em;
}

#title_battery {
    color: darkorange;
    margin-top: 0px;
    background-color: black;
    border-radius: 1em;
}

#title_output {
    color: white;
    background-color: black;
    border-radius: 1em;
}

#energy {
    color: lightgray;
    font-size: 20px;
}

#percentage {
    color: yellow;
    font-size: 18px;
}

.inputs {
    text-align: left;
    display: flex;
    flex-direction: row;
}

.wind {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border: 6px solid lightgreen;
    border-radius: 25px;
    width: 90px;
}

.solar {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border: 6px solid lightgreen;
    border-radius: 25px;
    width: 90px;
}

.diesel {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border: 6px solid yellow;
    border-radius: 25px;
    width: 90px;
}

.battery {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border: 6px solid darkorange;
    border-radius: 25px;
    width: 90px;
}

.output {
    text-align: center;
    padding: 10px;
    margin-top: 100px;
    border: 6px solid white;
    border-radius: 25px;
    width: 220px;
}

.container-bg {
    border: 6px solid black;
    border-radius: 2em;
    background-color: dimgray;
    max-width: 700px;
    margin: auto;
}

.container {
    max-width: 700px;
    margin: auto;
}

.border-renew {
    border: 6px solid lightgreen;
    border-radius: 1em;
}

.border-diesel {
    border: 6px solid yellow;
    border-radius: 1em;
}

.border-battery {
    border: 6px solid darkorange;
    border-radius: 1em;
}

.border-output {
    border: 6px solid white;
    border-radius: 1em;
}